/* CSS RESET */
*{
    margin: 0px;
    padding: 0px;
}

html{
    scroll-behavior: smooth;
}
/* CSS Variables */
:root{
    --navbar-height: 59px;
}

/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.6;
}

/* Navigation Bar: Logo and image */
#logo{
    margin: 0px 15px;
}
#logo img{
    height: 80px;
    margin: 0px 5px;
}

/* Navigation Bar: List Styling */

#navbar ul{
    display: flex;
    font-family: 'Baloo Bhai', 'cursive';
}

#navbar ul li{
    list-style: none;
    font-size: 1.2rem;
}
#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    text-decoration: none;
    border-radius: 20px;
}
#navbar ul li a:hover{
    color: black;
    background-color: white;
}

/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    align-items: center;
    justify-content: center;
    height: 588px;
}

#home::before{
    content: "";
    background: url(../img/bg1.jpg) no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 642px;
    width: 100%;
    z-index: -1;
    opacity: 0.9;
}

#home h1{
    color: white;
    text-align: center;
    font-family: 'Bree Serif', serif;
}
#home p{
    color: white;
    text-align: center;
    font-size: 1.3rem;
    font-family: 'Bree Serif', serif;
}

/* Services Classes */
#services{
    display: flex;
    margin: 20px;
}
#services .box{
    border: 2px solid brown;
    padding: 35px;
    margin: 3px 10px;
    border-radius: 28px;
    background-color: #ffebeb;
}
#services .box img{
    height: 200px;
    display: block;
    margin: auto;
    border-radius: 10px;
}
#services .box p{
    font-family: 'Bree Serif', serif;
    font-size: 1.2rem;
}
/* Clients section */
#client-section{
    position: relative;
}
#client-section::before{
    content: "";
    background: url(../img/bg2.jpg) no-repeat center center/cover;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;

}
#clients{
    display: flex;
    align-items: center;
    justify-content: center;
}
.client-items{
    padding: 34px;
    z-index: -1;
}
#clients img{
    height: 140px;
}
/* Contact Section */
#contact{
    position: relative;
}
#contact::before{
    content: "";
    background: url(../img/contact.jpg) no-repeat center center/cover;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
}
#contact-box{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 34px;
}
#contact-box input, #contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 7px;
    font-size: 1.1rem;
}
#contact-box form{
    width: 40%;
}
#contact-box label{
    font-size: 1.3rem;
    font-family: 'Bree Serif', serif;
}


/* Footer section */
footer{
    background: black;
    color: white;
    padding: 8px 20px;
}
/* Utility Classes */
.h-primary{
    font-family: 'Bree Serif', serif;
    font-size: 3.2rem;
    padding: 12px;
}
.h-secondary{
    font-family: 'Bree Serif', serif;
    font-size: 2.2rem;
    padding: 12px;
}
.btn{
    padding: 5px 15px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 15px;
    font-size: 1.3rem;
    border-radius: 10px;
    cursor: pointer;
}
.center{
    text-align: center;
}



